body {
    background: whitesmoke;
    color: #222;
}

nav {
    background-color: brown;
    color: whitesmoke;
}

nav a {
    color: white;
}

.btn {
    background-color: transparent;
    color: #222;
}

.btn:hover {
    background-color: tomato;
    color: white;
    border-color: tomato;
}