* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#myChart {
    width: 100%;
    height: 100%;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}